.searchDataContainer {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  padding-top: 5%;
}
.dataCheckBox {
  padding: 3%;
}

.dataLabelsContainer {
  justify-content: space-between;
}

.spinningCircle {
  display: flex;
  margin: auto;
  align-items: center;
  padding-top: 3%;
}
